<table>
<% @birds.each do |bird| %>
  <tr>
    <td><%= bird.content %></td>

    <td><%= link_to 'つぶやいた内容を確認する', bird_path(bird.id) %></td>
  </tr>
<% end %>
</table>

<br>

<%= link_to '新規つぶやき', new_bird_path %>