html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
}

header {
  background-color: pink;
  height: 50px;
  font-size: 15px;
}

header h1 {
  color: deepskyblue;
}

table a {
  text-align:center;
  /* width: 100%; */
  position: relative;
  color: lightskyblue;
}

table {
  text-align:center;
  width: 100%; 
  position: relative;
  color: lightskyblue;
  margin-left: 150px;
  margin-right: 150px;
}

footer {
height: 70px;
width: 100%;
background-color: pink;
position: absolute;
}

footer p {
vertical-align: middle;
text-align: center;
color: #fff;
font-size: 0.8rem;
}